bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/RefactorThis/v17/.suo
.vs/RefactorThis/v17/DocumentLayout.backup.json
.vs/RefactorThis/v17/DocumentLayout.json
*.bin
*.v2
*.vsidx
*.testlog
*.manifest
*.vsidx
.vs/RefactorThis/v17/DocumentLayout.json
.vs/RefactorThis/v17/DocumentLayout.backup.json
.vs/RefactorThis/v17/.suo
.vs/RefactorThis/v17/.futdcache.v2
.vs/RefactorThis/FileContentIndex/e0d6eaf9-3ab7-41f5-b75e-34624b7393d7.vsidx
.vs/RefactorThis/FileContentIndex/77522d12-37b2-43b7-9081-f6b2fe2c6f3f.vsidx
.vs/RefactorThis/FileContentIndex/4f88ea76-a22d-4402-89ad-b1bd1f6dd4af.vsidx
.vs/RefactorThis/FileContentIndex/4a521791-7de0-4ddb-b3c0-cc9ba99b0b3a.vsidx
.vs/RefactorThis/FileContentIndex/2f812f36-6a06-44e1-bbd5-fe600442fab4.vsidx
.vs/RefactorThis/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/refactorthis.strings.v9.bin
.vs/ProjectEvaluation/refactorthis.projects.v9.bin
.vs/ProjectEvaluation/refactorthis.metadata.v9.bin
.vs/RefactorThis/v17/DocumentLayout.json
.vs/RefactorThis/v17/DocumentLayout.backup.json
.vs/RefactorThis/v17/.suo
.vs/RefactorThis/v17/.futdcache.v2
.vs/RefactorThis/FileContentIndex/e0d6eaf9-3ab7-41f5-b75e-34624b7393d7.vsidx
.vs/RefactorThis/FileContentIndex/77522d12-37b2-43b7-9081-f6b2fe2c6f3f.vsidx
.vs/RefactorThis/FileContentIndex/4f88ea76-a22d-4402-89ad-b1bd1f6dd4af.vsidx
.vs/RefactorThis/FileContentIndex/4a521791-7de0-4ddb-b3c0-cc9ba99b0b3a.vsidx
.vs/RefactorThis/FileContentIndex/2f812f36-6a06-44e1-bbd5-fe600442fab4.vsidx
.vs/RefactorThis/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/refactorthis.strings.v9.bin
.vs/ProjectEvaluation/refactorthis.projects.v9.bin
.vs/ProjectEvaluation/refactorthis.metadata.v9.bin
